body {
    background: linear-gradient(120deg,#faf8f8,#ffcbe1);
}

.titulo{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-right: 35%;
}

.titulo img {
    width: 950px;
    height: 530px;
}

#menu {
    height: 40px;
    background: #f25fb7;
    margin: -1.23%;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    float: left;
    margin: 10px 10px;
}

#menu a {
    text-decoration: none;
    color: #240215;
    font: 18px arial;

}

#menu a:hover {
    color: #49042b;
}

#menu a:active {
    font: bold 18px arial;
}



#sol {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 90%;
    margin: 5%;
    grid-gap: 30px;
}

#sol img {
    width: 100%;
    transition: all 300ms;
    position: relative;
}

#sol img:hover {
    transform: scale(1.15);
}

#recetados {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 90%;
    margin: 5%;
    grid-gap: 30px;
}

#recetados img {
    width: 100%;
    transition: all 300ms;
    position: relative;
}

#recetados img:hover {
    transform: scale(1.15);
}

#menu2{
    height: 50px;
    background: #e9badc;
    text-align: center;
    padding-top: 20px;
    bottom: 0;
    width: 100%;
}

    
#menu2 a{
    text-decoration: none ;
    color: #000;
    font: 15px arial;
    margin: 20px 20px;
}
    
#menu2 a:hover{
    color: #e80684;
}
    
 #menu2 a:active{
    font: bold 18px arial; 
}

footer {
    background-color: #e9badc;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font: 15px arial;
    margin: 20px 20px;
}

footer a:hover {
    color: crimson;
}

footer a:active {
    font: bold 18px arial;
}

.texto1 {
    text-align: center;
    margin: auto;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px #f25fb7;
    border-radius: 10px 10px;
    margin: 5px 5px;
    padding: 5px;
    background-color: #e44b8aaa;
    box-shadow: 4px 4px 10px rgba(231, 91, 161, 0.9);
    margin-bottom: 10px;
}