body {
    background: linear-gradient(120deg,#faf8f8,#ffcbe1);
}

.titulo{
    display: flex;
    justify-content: center;
}

.titulo img {
    width: 950px;
    height: 530px;
}

#menu {
    height: 40px;
    width: 565.02 px;
    background: #f25fb7;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    float: left;
    margin: 10px 10px;
}

#menu a {
    text-decoration: none;
    color: #240215;
    font: 18px arial;

}

#menu a:hover {
    color: #49042b;
}

#menu a:active {
    font: bold 18px arial;
}



#sol {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 90%;
    margin: 5%;
    grid-gap: 30px;
}

#sol img {
    width: 100%;
    transition: all 300ms;
    position: relative;
}

#sol img:hover {
    transform: scale(1.15);
}

#recetados {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 90%;
    margin: 5%;
    grid-gap: 30px;
}

#recetados img {
    width: 100%;
    transition: all 300ms;
    position: relative;
}

#recetados img:hover {
    transform: scale(1.15);
}

#menu2{
    height: 50px;
    background: #e9badc;
    text-align: center;
    padding-top: 20px;
    bottom: 0;
    width: 100%;
}

    
#menu2 a{
    text-decoration: none ;
    color: #000;
    font: 15px arial;
    margin: 20px 20px;
}
    
#menu2 a:hover{
    color: #e80684;
}
    
 #menu2 a:active{
    font: bold 18px arial; 
}

footer {
    background-color: #e9badc;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font: 15px arial;
    margin: 20px 20px;
}

footer a:hover {
    color: crimson;
}

footer a:active {
    font: bold 18px arial;
}

.texto1 {
    text-align: center;
    margin: auto;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px #f25fb7;
    border-radius: 10px 10px;
    margin: 5px 5px;
    padding: 5px;
    background-color: #e44b8aaa;
    box-shadow: 4px 4px 10px rgba(231, 91, 161, 0.9);
    margin-bottom: 10px;
}

.formu{
    text-align: center;
    font: 14px arial;
    font-size: larger;
}
.recordar{
    font: bold 13px arial;
}
.envios{
    text-align: center;
}
.h2{
    font: bold 20px arial;
    color: red;
}
.compra{
    font: 15px arial;
}
#boton_compra {
    --bg: #e74c3c;
    --text-color: #ffffff;
    position: relative;
    width: 100px;
    height: 20px;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
}

#boton_compra:hover {
    opacity: 1;
}

#boton_compra:active {
    top: 4px;
    box-shadow: #c0392b 0px 3px 2px, #000 0px 3px 5px;
}